body {
    font-family: 'Prompt', sans-serif;
}

.sort-options {
    display: flex;
    gap: 30px; 
    justify-content: center;
    margin: 30px 0; 
}

.sort-button {
    font-family: 'Prompt', sans-serif;
    background-color: #ff425e;
    color: #fff;
    border: none;
    border-radius: 12px; 
    padding: 15px 30px; 
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.sort-button:hover {
    background-color: #ff0000;
    transform: translateY(-4px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.sort-button:active {
    background-color: #ff0037;
    transform: translateY(2px); 
}

.sort-button:focus {
    outline: none;
}

.sort-button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
    box-shadow: none;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}

.category-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    overflow: hidden;
}

.category-box.selected {
    background-color: #ff5d75;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-box img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.category-box:hover {
    background-color: #ff3b3b;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-box:active {
    transform: translateY(2px);
}
.search-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px 0; 
}

#search-input {
    font-family: 'Prompt', sans-serif;
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ff0026; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

#search-input::placeholder {
    color: #aaa; 
    font-style: italic;
}

#search-input:focus {
    border-color: #ff3b3b; 
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .category-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .category-container {
        grid-template-columns: 1fr;
    }
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left span {
    font-size: 20px;
    margin-right: 20px;
}

.navbar-right {
    margin-left: auto;
    padding-right: 50px; /* เพิ่มพื้นที่เว้นระยะทางด้านขวา */
}


#summary-button {
    font-family: 'Prompt', sans-serif;
    padding: 5px 15px; /* เพิ่ม padding เพื่อทำให้ปุ่มใหญ่ขึ้นเล็กน้อย */
    font-size: 20px;
    background-color:  #ff5d75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px; /* เพิ่มระยะห่างจากขอบขวา */
}

#summary-button:hover {
    background-color: #ff3b3b;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-item {
    display: flex;
    margin-bottom: 10px;
}
.modal-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
